.dc-table-head {
    background: #fae5e5;
    font-weight: bold;
}

table.dc-data-table tbody tr.dc-table-group td.dc-table-label {
    background: #F8F8F8;
    font-weight: bold;
    padding: 0.25em 0 0.25em 0;
}

table.dc-data-table tbody tr.dc-table-row td.dc-table-column {
    padding: 0.25em 0 0.25em 1em;
}

.dc-table-column._1 {
    text-align: center;
}

.dc-table-column._2 {
    text-align: right;
}

line.tracking,
text.texttip {
    stroke-opacity: 0;
    fill-opacity: 0;
    fill: gray;
    font-size: 11px;
    stroke: gray;
    stroke-dasharray: 2 5;
    transition: .25s all;
}

svg:hover line.tracking {
    stroke-opacity: 1;
    stroke-width: 1px;
}

svg:hover text.texttip {
    fill-opacity: 1;
}

.dc-chart g.city {
    cursor: pointer;
}
.dc-chart g.city :hover {
    fill: #808080;
}
.dc-chart g.city path {
    stroke: #888;
}


.dc-chart g.annotation-subject path.subject {
    fill-opacity: 0.025;
}
